.thenavbar{
    width: 100%;
    background: #032D62;
    display: flex;
width: 90%;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 20px;
padding-top: 20px;
justify-content: space-between;
align-items: center;
gap: 30px;
    
}
.navelementss{
    display: inline-flex;
align-items: center;
gap: 24px;
}
.smallnav{
    display: flex;

justify-content: center;
align-items: flex-start;
gap: 30px;

background: #FFF;
 margin-top: 37px;
 font-family: Arial, Helvetica, sans-serif;
 
box-shadow: 1px 1px 12px 0 rgba(51, 51, 51, 0.10);
}
.homee{
    background: #FAFAFA;
}
.roww{
    display: flex;
margin-top: 37px;

align-items: center;
justify-content: center;
gap: 30px;
flex-shrink: 0;
}
.topsect{
    display: flex;

margin-top: 107px;
flex-direction: column;
align-items: center;
gap: 14px;
}
.subby{
    color: #333;

font-family: Arial, Helvetica, sans-serif;
font-size: 23.1px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 173.16% */
}
.readmore{
    color: #333;

font-size: 14.4px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 166.667% */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}
.COL{
    display: flex;
flex-direction: column;
align-items: center;
gap: 74px;
margin-top: 24px;

}
.banner{
margin-top: 100px;
display: flex;

flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;
    background-image:url("../Assets/bgg.png") ;
    width: 90%;
    height: 400px;
    background-position: center;
    padding-left: 10%;
}
.bannerr{
    border-radius: 4px;
border-top: 7px solid #F58420;
width: 400px;
background: #FFF;
display: flex;
padding: 0 48px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
padding: 10px;
box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.10);
}
.footerr{
    background-image:url("../Assets/Footer [footer-style].png") ;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    bottom: 0;
    margin-top: 100px;  
    background-repeat: no-repeat;
}.rowfo2{
    display: flex;
width: 90%;

justify-content: space-between;
align-items: flex-start;
bottom: 0;
padding-top: 100px;
    gap: 20px;



font-family: Arial, Helvetica, sans-serif;
font-size: 12.6px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
.collll{
    display: flex;
width: 116px;
flex-direction: column;
align-items: flex-start;
color: #FFF;

font-family: Arial, Helvetica, sans-serif;
font-size: 8.6px;
font-style: normal;
font-weight: 100;
line-height: 32px; /* 253.968% */
}

.rowfo22{
    display: flex;
width: 90%;

justify-content: space-between;
align-items: flex-start;
bottom: 0;

    gap: 20px;

color: #FFF;

padding-top: 16px;
font-family: Arial, Helvetica, sans-serif;
font-size: 9.6px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 253.968% */
}
.copyright{
    display: flex;
padding-bottom: 20px;
padding-top: 20px;
color: #B8BABC;

font-family: Inter;
font-size: 12.6px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
width: 100%;
background: #003967;

justify-content: flex-end;
align-items: center;
}
.cardya{
    display: flex;
width: 246.63px;
padding-bottom: 0;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
flex-shrink: 0;
color: #333;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 17.4px;
font-style: normal;
font-weight: 700;
line-height: 28.08px; /* 161.379% */
}